 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 body {
   background-color: rgb(170, 42, 81);
 }
/* utility class */
.d_flex {
  display: flex;
}
.text_upper {
  text-transform: uppercase;
}
.text_cap {
  text-transform: capitalize;
}
#data_user,  #ticket_user {
  height: 300px;
  width: 1000px;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px 5px rgba(123, 121, 124, 0.71);
}
#ticket_user {
  opacity: 0;
}
h2 {
  text-align: center;
  margin: 1rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px grey;
}
h3 {
  text-align: center;
  margin: 1rem;
}
